@import 'tailwindcss/base';
@import '@radix-ui/themes/styles.css';

@font-face {
  font-family: 'ROM';
  src: url('/fonts/ROM-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ROM';
  src: url('/fonts/ROM-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'ROM Mono';
  src: url('/fonts/ROMMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ROM Mono';
  src: url('/fonts/ROMMono-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tomato';
  src: url('/fonts/Tomato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tomato';
  src: url('/fonts/Tomato-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@tailwind components;
@tailwind utilities;

:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #181806;
  --color-light: #fdfcf1;
  --color-text: 24 24 6;
  --color-bg: 253 252 241;
}

*::selection {
  background-color: #DADCCF !important;
}

:root,
.light,
.light-theme {
  --gray-1: #f9f9f6;
  --gray-2: #f5f6ee;
  --gray-3: #ecede5;
  --gray-4: #e4e4db;
  --gray-5: #dcddd3;
  --gray-6: #d4d5c9;
  --gray-7: #c9cabe;
  --gray-8: #b6b7a8;
  --gray-9: #888972;
  --gray-10: #7e7e68;
  --gray-11: #5f604b;
  --gray-12: #21210e;

  --gray-a1: #f2f4ff5c;
  --gray-a2: #1b529c09;
  --gray-a3: #0d284712;
  --gray-a4: #08111a1a;
  --gray-a5: #06141022;
  --gray-a6: #0a14042b;
  --gray-a7: #08100136;
  --gray-a8: #151b034e;
  --gray-a9: #20220287;
  --gray-a10: #1e1e0091;
  --gray-a11: #191a00b0;
  --gray-a12: #141401f1;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #888972;
  --gray-track: #888972;
}

:root,
.light,
.light-theme,
.radix-themes {
  --color-background: #fdfcf1;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(98.1% 0.004 108.9);
      --gray-2: oklch(97% 0.01 108.9);
      --gray-3: oklch(94.2% 0.01 108.9);
      --gray-4: oklch(91.7% 0.012 108.9);
      --gray-5: oklch(89.4% 0.013 108.9);
      --gray-6: oklch(86.9% 0.016 108.9);
      --gray-7: oklch(83.4% 0.016 108.9);
      --gray-8: oklch(77.4% 0.02 108.9);
      --gray-9: oklch(62.2% 0.033 108.9);
      --gray-10: oklch(58.7% 0.033 108.9);
      --gray-11: oklch(48.3% 0.032 108.9);
      --gray-12: oklch(24.2% 0.032 108.9);

      --gray-a1: color(display-p3 0.945 0.953 1 / 0.308);
      --gray-a2: color(display-p3 0.016 0.255 0.584 / 0.032);
      --gray-a3: color(display-p3 0.016 0.125 0.259 / 0.068);
      --gray-a4: color(display-p3 0.004 0.039 0.078 / 0.099);
      --gray-a5: color(display-p3 0.008 0.063 0.051 / 0.131);
      --gray-a6: color(display-p3 0.027 0.071 0.008 / 0.166);
      --gray-a7: color(display-p3 0.027 0.063 0.004 / 0.211);
      --gray-a8: color(display-p3 0.071 0.094 0.004 / 0.302);
      --gray-a9: color(display-p3 0.114 0.122 0 / 0.521);
      --gray-a10: color(display-p3 0.106 0.11 0 / 0.562);
      --gray-a11: color(display-p3 0.086 0.094 0 / 0.682);
      --gray-a12: color(display-p3 0.067 0.067 0 / 0.934);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(62.2% 0.033 108.9);
      --gray-track: oklch(62.2% 0.033 108.9);
    }
  }
}

:root,
.light,
.light-theme {
  --yellow-1: #f9f9f6;
  --yellow-2: #f5f6ee;
  --yellow-3: #ecede5;
  --yellow-4: #e4e4db;
  --yellow-5: #dcddd3;
  --yellow-6: #d4d5c9;
  --yellow-7: #c9cabe;
  --yellow-8: #b6b7a8;
  --yellow-9: #181806;
  --yellow-10: #30301d;
  --yellow-11: #5f604b;
  --yellow-12: #21210e;

  --yellow-a1: #f2f4ff5c;
  --yellow-a2: #1b529c09;
  --yellow-a3: #0d284712;
  --yellow-a4: #08111a1a;
  --yellow-a5: #06141022;
  --yellow-a6: #0a14042b;
  --yellow-a7: #08100136;
  --yellow-a8: #151b034e;
  --yellow-a9: #121200f9;
  --yellow-a10: #141401e1;
  --yellow-a11: #191a00b0;
  --yellow-a12: #141401f1;

  --yellow-contrast: #fff;
  --yellow-surface: #f3f5eecc;
  --yellow-indicator: #181806;
  --yellow-track: #181806;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --yellow-1: oklch(98.1% 0.004 108.9);
      --yellow-2: oklch(97% 0.01 108.9);
      --yellow-3: oklch(94.2% 0.01 108.9);
      --yellow-4: oklch(91.7% 0.012 108.9);
      --yellow-5: oklch(89.4% 0.013 108.9);
      --yellow-6: oklch(86.9% 0.016 108.9);
      --yellow-7: oklch(83.4% 0.016 108.9);
      --yellow-8: oklch(77.4% 0.02 108.9);
      --yellow-9: oklch(20.4% 0.032 108.9);
      --yellow-10: oklch(30.2% 0.032 108.9);
      --yellow-11: oklch(48.3% 0.032 108.9);
      --yellow-12: oklch(24.2% 0.032 108.9);

      --yellow-a1: color(display-p3 0.945 0.953 1 / 0.308);
      --yellow-a2: color(display-p3 0.016 0.255 0.584 / 0.032);
      --yellow-a3: color(display-p3 0.016 0.125 0.259 / 0.068);
      --yellow-a4: color(display-p3 0.004 0.039 0.078 / 0.099);
      --yellow-a5: color(display-p3 0.008 0.063 0.051 / 0.131);
      --yellow-a6: color(display-p3 0.027 0.071 0.008 / 0.166);
      --yellow-a7: color(display-p3 0.027 0.063 0.004 / 0.211);
      --yellow-a8: color(display-p3 0.071 0.094 0.004 / 0.302);
      --yellow-a9: color(display-p3 0.067 0.067 0 / 0.967);
      --yellow-a10: color(display-p3 0.071 0.071 0 / 0.872);
      --yellow-a11: color(display-p3 0.086 0.094 0 / 0.682);
      --yellow-a12: color(display-p3 0.067 0.067 0 / 0.934);

      --yellow-contrast: #fff;
      --yellow-surface: color(display-p3 0.953 0.961 0.937 / 0.8);
      --yellow-indicator: oklch(20.4% 0.032 108.9);
      --yellow-track: oklch(20.4% 0.032 108.9);
    }
  }
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #181806;
}

.dark,
.dark-theme {
  --gray-1: #181711;
  --gray-2: #1f1e18;
  --gray-3: #28271d;
  --gray-4: #2e2d21;
  --gray-5: #343326;
  --gray-6: #3d3c2f;
  --gray-7: #4a493c;
  --gray-8: #636153;
  --gray-9: #6f6e60;
  --gray-10: #7d7b6d;
  --gray-11: #b5b4a4;
  --gray-12: #efeee4;

  --gray-a1: #1903f00c;
  --gray-a2: #7669f813;
  --gray-a3: #c2b8fb18;
  --gray-a4: #e1d8fc1c;
  --gray-a5: #f1e9fe21;
  --gray-a6: #f9f3ff2a;
  --gray-a7: #fcf8fc38;
  --gray-a8: #fff9f353;
  --gray-a9: #fdfbf361;
  --gray-a10: #fefaf170;
  --gray-a11: #fefceeae;
  --gray-a12: #fefdf4ee;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6f6e60;
  --gray-track: #6f6e60;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(20.4% 0.013 102.4);
      --gray-2: oklch(23.4% 0.012 102.4);
      --gray-3: oklch(26.9% 0.017 102.4);
      --gray-4: oklch(29.3% 0.02 102.4);
      --gray-5: oklch(31.9% 0.022 102.4);
      --gray-6: oklch(35.2% 0.022 102.4);
      --gray-7: oklch(40.2% 0.022 102.4);
      --gray-8: oklch(49.1% 0.022 102.4);
      --gray-9: oklch(53.5% 0.022 102.4);
      --gray-10: oklch(58.1% 0.022 102.4);
      --gray-11: oklch(76.7% 0.022 102.4);
      --gray-12: oklch(94.8% 0.014 102.4);

      --gray-a1: color(display-p3 0.098 0 0.988 / 0.041);
      --gray-a2: color(display-p3 0.494 0.435 1 / 0.069);
      --gray-a3: color(display-p3 0.792 0.749 0.992 / 0.09);
      --gray-a4: color(display-p3 0.91 0.875 0.996 / 0.106);
      --gray-a5: color(display-p3 0.969 0.937 1 / 0.126);
      --gray-a6: color(display-p3 0.992 0.969 1 / 0.162);
      --gray-a7: color(display-p3 1 0.98 0.992 / 0.217);
      --gray-a8: color(display-p3 1 0.976 0.949 / 0.325);
      --gray-a9: color(display-p3 1 0.992 0.961 / 0.377);
      --gray-a10: color(display-p3 1 0.984 0.945 / 0.438);
      --gray-a11: color(display-p3 1 0.992 0.941 / 0.68);
      --gray-a12: color(display-p3 1 0.996 0.961 / 0.931);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.5% 0.022 102.4);
      --gray-track: oklch(53.5% 0.022 102.4);
    }
  }
}

.dark,
.dark-theme {
  --yellow-1: #181711;
  --yellow-2: #1f1e18;
  --yellow-3: #28271d;
  --yellow-4: #2e2d21;
  --yellow-5: #343326;
  --yellow-6: #3d3c2f;
  --yellow-7: #4a493c;
  --yellow-8: #636153;
  --yellow-9: #fdfcf1;
  --yellow-10: #f4f3e8;
  --yellow-11: #b5b4a4;
  --yellow-12: #efeee4;

  --yellow-a1: #1903f00c;
  --yellow-a2: #7669f813;
  --yellow-a3: #c2b8fb18;
  --yellow-a4: #e1d8fc1c;
  --yellow-a5: #f1e9fe21;
  --yellow-a6: #f9f3ff2a;
  --yellow-a7: #fcf8fc38;
  --yellow-a8: #fff9f353;
  --yellow-a9: #fffef3fd;
  --yellow-a10: #fffef3f3;
  --yellow-a11: #fefceeae;
  --yellow-a12: #fefdf4ee;

  --yellow-contrast: #252209;
  --yellow-surface: #26242a80;
  --yellow-indicator: #fdfcf1;
  --yellow-track: #fdfcf1;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --yellow-1: oklch(20.4% 0.013 102.4);
      --yellow-2: oklch(23.4% 0.012 102.4);
      --yellow-3: oklch(26.9% 0.017 102.4);
      --yellow-4: oklch(29.3% 0.02 102.4);
      --yellow-5: oklch(31.9% 0.022 102.4);
      --yellow-6: oklch(35.2% 0.022 102.4);
      --yellow-7: oklch(40.2% 0.022 102.4);
      --yellow-8: oklch(49.1% 0.022 102.4);
      --yellow-9: oklch(98.9% 0.014 102.4);
      --yellow-10: oklch(96.1% 0.014 102.4);
      --yellow-11: oklch(76.7% 0.022 102.4);
      --yellow-12: oklch(94.8% 0.014 102.4);

      --yellow-a1: color(display-p3 0.098 0 0.988 / 0.041);
      --yellow-a2: color(display-p3 0.494 0.435 1 / 0.069);
      --yellow-a3: color(display-p3 0.792 0.749 0.992 / 0.09);
      --yellow-a4: color(display-p3 0.91 0.875 0.996 / 0.106);
      --yellow-a5: color(display-p3 0.969 0.937 1 / 0.126);
      --yellow-a6: color(display-p3 0.992 0.969 1 / 0.162);
      --yellow-a7: color(display-p3 1 0.98 0.992 / 0.217);
      --yellow-a8: color(display-p3 1 0.976 0.949 / 0.325);
      --yellow-a9: color(display-p3 1 0.996 0.957 / 0.992);
      --yellow-a10: color(display-p3 1 0.996 0.961 / 0.953);
      --yellow-a11: color(display-p3 1 0.992 0.941 / 0.68);
      --yellow-a12: color(display-p3 1 0.996 0.961 / 0.931);

      --yellow-contrast: #252209;
      --yellow-surface: color(display-p3 0.149 0.141 0.157 / 0.5);
      --yellow-indicator: oklch(98.9% 0.014 102.4);
      --yellow-track: oklch(98.9% 0.014 102.4);
    }
  }
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 999999;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  background: #fff;
  display: flex;
  height: var(--header-height);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}

.header-menu-item {
  cursor: pointer;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}

.shopify-pc__banner__dialog {
  box-shadow: none !important;
  border-radius: 0 !important;
  bottom: 1rem !important;
  right: 1rem !important;
  font-size: 1rem !important;
}

#shopify-pc__banner__body-title {
  font-weight: 500 !important;
  font-size: 0.75rem !important;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.shopify-pc__banner__btns.shopify-pc__banner__btns-granular {
  flex-direction: row-reverse !important;
  gap: 0.5rem !important;
}

.shopify-pc__banner__body {
  margin-bottom: 2rem !important;
}

.shopify-pc__banner__btn-accept {
  background: var(--color-dark) !important;
  color: var(--color-light) !important;
  border: 1px solid var(--color-dark) !important;
  padding: 0.5rem 1rem !important;
  margin-left: 0.5rem !important;
  order: 1 !important;
}

.shopify-pc__banner__btns button {
  border-radius: 0 !important;
  margin: 0 !important;
}

.shopify-pc__banner__btn-manage-prefs {
  text-decoration: none !important;
}

.shopify-pc__banner__btn-manage-prefs span {
  text-wrap: nowrap !important;
  border-bottom: solid 1px rgba(24, 24, 6, 0.3) !important;
}

.shopify-pc__prefs__dialog {
  border-radius: 0 !important;
  h2,
  h3,
  label,
  p,
  button {
    margin-bottom: 0 !important;
    font-size: 1rem !important;
  }

  .shopify-pc__prefs__intro {
    display: none !important;
  }

  .shopify-pc__prefs__option:first-child {
    border-top: 0 !important;
    padding-top: 2rem !important;
    margin-top: 0;
  }

  p {
    text-wrap: balance;
  }

  h2,
  h3,
  label {
    font-weight: 500 !important;
  }

  button {
    border-radius: 0 !important;
  }

  #shopify-pc__prefs__header-title {
    font-size: 0.75rem !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.03em !important;
  }

  .shopify-pc__prefs__header-actions {
    gap: 1rem !important;
    & > button {
      margin-right: 0 !important;
    }
  }

  header {
    @media (max-width: 1200px) {
      align-items: flex-start !important;

      h2 {
        text-align: left !important;
        margin-bottom: 1rem !important;
      }
    }
  }
}

.scrollFade::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(to bottom, var(--color-background), transparent);
}

.scrollFade::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 0.5rem);
  height: 3rem;
  background: linear-gradient(to top, var(--color-background), transparent);
}
